.card {
  border: 1px solid #01010159;
  border-radius: 20px;
  height: 450px;
  width: 300px;
  background-color: rgb(76, 133, 85);
  color: white;
  transition: all 0.3s;
}

.card:hover {
  transition: all 0.3s;
  cursor: pointer;
  z-index: 10;
  transform: scale(1.05);
}

.card-img {
  height: 400px;
  object-fit: cover;
  background-position: center;
  width: 100%;
  margin: auto;
}

.mat-card-subtitle{
  color: white;
}

